<launch>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find orb_slam)/Data/rviz.rviz" output="log"></node>

	<node pkg="tf" type="static_transform_publisher" name="ORB_Camera_base_link_broadcaster" args="0 0 0 0.9238795325112867 0 0 0.3826834323650897 /ORB_SLAM/Camera /ORB_base_link 100" />

    <node pkg="orb_slam" type="orb_slam" name="orb_slam"  args="Data/ORBvoc.txt Data/Settings_Morse.yaml" cwd="node" output="screen"
    ><!--launch-prefix="gdbserver localhost:10000"-->
        <remap from="/camera/image_raw" to="/robot/Kinect/rgb/image" />
    </node>
</launch>
